/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo_block {
  position: relative;
  padding-left: 15px;
  top: 50%;
  display: inline-flex;
}

.logo_text {
  font-size: 4rem;
  line-height: 1.5;
  padding-left: 10px;
}
